// Vendor
// @import 'vendor/_normalize.scss';

// Modules
@import 'modules/_vars.scss';
@import 'modules/_typo.scss';
@import 'modules/_defaults.scss';

// Partials
@import 'partials/_modal.scss';
@import 'partials/_nav.scss';
@import 'partials/_container.scss';
@import 'partials/_preview-banner.scss';
@import 'partials/_account.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_form.scss';
@import 'partials/_table.scss';
@import 'partials/_grid.scss';
@import 'partials/_preview-edit.scss';
@import 'partials/_link.scss';
@import 'partials/_button.scss';
@import 'partials/_tag.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_range-slider.scss';
@import 'partials/_footer.scss';
@import 'partials/_icon.scss';

.page__header {
	font-family: $family-primary;
	font-size: $size-xx-large;
	font-weight: $normal;
	line-height: 1;
	text-align: center;
	color: $color-red;
	margin: 60px 0 40px;

	&--flat {
		margin: 20px 0;
	}
}

.page__description {
	text-align: center;
	margin-bottom: 20px;

	&--left {
		text-align: left;
	}

	&--gray {
		color: $color-gray;
	}
}

.title-header {
	font-size: $size-x-large;
	color: $color-red;
	margin: 10px 0;
}

.content-info {
	max-width: 640px;
	margin: 0 auto;
	padding: 10px 0 0;
}

.content__nav {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 48px;
	list-style-type: none;
	margin: 0 0 20px;

	@include media-query('breakpoint-tablet') {
		justify-content: space-around;
		height: 60px;
		width: 100vw;
		margin: 0 -20px 20px;
		border-bottom: 1px solid $color-gray-dark;
	}

	&-item {
		height: 47px;

		@include media-query('breakpoint-tablet') {
			height: 100%;
			width: 33%;
		}
	}

	&-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-weight: $bold;
		text-transform: uppercase;
		padding: 0 20px;
		transition: all ease-in-out 0.1s;

		&:hover {
			background: $color-gray-light;
			padding-bottom: 2px;
		}

		&--active {
			background: $color-gray-light;

			&:hover {
				background: $color-white;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 532px;
		left: 0;
		width: 100vw;
		height: 1px;
		background: $color-gray;
		z-index: -1;

		@include media-query('breakpoint-tablet') {
			display: none;
		}
	}
}

.content__filter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.filter__sort {
	margin-left: auto;
}

// Content List
.content__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;

	&::after {
		content: "";
		flex-grow: 3;
	}

	&--vertical {
		display: flex;
		flex-direction: column;

		.content__list-item {
			display: flex;
			padding: 10px;

			&:hover {
				background: $color-gray-light;
			}

			@include media-query('breakpoint-tablet-small') {
				display: block;
				padding: 10px;
			}
		}

		.content__title {
			width: 100%;
			margin-left: 20px;

			@include media-query('breakpoint-tablet-small') {
				margin-left: 0;
			}
		}

		.content__image-container {
			max-width: 200px;
		}
	}
}

// Content List Item
.content__list-item {
	flex-grow: 1;
	flex-shrink: 0;
	width: 30%;
	margin: 0 10px 20px;
	cursor: pointer;
	
	&:hover {
		background: $color-gray-light;

		.content__image-button {
			opacity: 1;
		}
	}
}

.content__library--items {
	margin-top: 0;
}

// Content Image
.content__image {
	width: 100%;
	height: 100%;
	cursor: pointer;

	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		max-width: 640px;
		height: auto;
		background: $color-gray-light;
		border-radius: 20px;
		margin: 0 auto;
		z-index: -1;

		&--small {
			max-width: 300px;
		}

		&--full {
			max-width: unset;
		}

		.file-input-wrapper {
			margin: 120px auto;
		}
	}
}

.content__image-button {
	opacity: 0;
	position: absolute;
	top: 10px;
	right: 10px;

	@include media-query('breakpoint-tablet-small') {
		opacity: 1;
		left: 10px;
		width: 50px;
		height: 50px;
	}

	&--left {
		left: 10px;
	}
}

.content__info {
	padding: 24px 16px;

	@include media-query('breakpoint-tablet-small') {
		padding: 24px 32px;
	}
}

.content__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $size-regular;
	font-weight: $bold;
	margin: 16px 0 4px;

	&--alt {
		margin: 10px 0;
	}

	&--left {
		justify-content: flex-start;
	}
	
	&--right {
		justify-content: flex-end;
	}

	&--half {
		flex: 1 1 50%;
		max-width: 50%;
		margin: 20px 0;

		@include media-query('breakpoint-tablet') {
			justify-content: center;
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
}

.content__detail {
	i {
		margin-right: 4px;
	}

	&--right {
		margin-left: auto;
	}

	&--label {
		background: $color-gray-light;
		border-radius: 2px;
		margin: 0 4px;
		padding: 7px;

		@include media-query('breakpoint-tablet') {
			margin: 0 10px;
		}
	}
}

.content__title {
	font-size: $size-regular;
	line-height: 1.2;
	font-weight: $normal;
	color: $color-red;
	word-wrap: break-word;
	text-overflow: ellipsis;
	margin-bottom: 16px;

	&--margin {
		margin: 20px 0 10px;
	}

	&--large {
		font-size: $size-xx-large;
	}
}

.content__description {
	position: relative;
	width: auto;
	max-height: 60px;
	word-break: break-all;
	margin-bottom: 20px;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent 20px, $color-white);
	  }
}

.content__link {
	font-size: $size-small;
	color: $color-red;
	text-transform: uppercase;

	@include media-query('breakpoint-tablet-small') {
		&--text {
			display: none;
		}
	}
}

.your-videos .content__list-item {
	border-bottom: 1px solid $color-gray;

	&:nth-of-type(1) {
		border-top: 1px solid $color-gray;
	}
}

.selected-videos .content__list-item {
	border-bottom: 1px solid $color-gray;

	&:nth-of-type(1) {
		border-top: 1px solid $color-gray;
	}
}

.content-selection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	@include media-query('breakpoint-tablet-small') {
		grid-gap: 10px;
		margin: 0 -10px;
		
		.button {
			min-width: 100px;
		}
	}

	&--full {
		display: block;
	}
}

.section__title {
	width: 100%;
	font-weight: $bold;
	text-transform: uppercase;
	border-bottom: 1px solid $color-gray-dark;
	padding: 10px 0;
	margin-bottom: 10px;

	&--center {
		text-align: center;
		border: none;
	}
}

.selected-videos {
	margin-bottom: 40px;

	@include media-query('breakpoint-tablet-small') {
		.button {
			padding: 10px 20px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 20px;
	}
}

.selected-video {
	width: 200px;
}

//	STORE CONTENT

.store-content {

	.button {
		margin: 20px auto;
	}

	&__image {
		max-width: 400px;
		// margin: 0 auto;

		&:hover .content__image-button {
			opacity: 1;
		}

		&-list {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			list-style-type: none;
		}
	}
}

// EDIT CONTENT 

.video-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: $color-gray-dark;
	overflow: hidden;
	object-fit: cover;

	&:hover .preview-banner__button {
		opacity: 1;
	}

	&--banner {
		height: 425px;
		box-shadow: inset 0 -60px 60px -40px $color-gray-dark;

		@include media-query('breakpoint-tablet') {
			height: 100%;
		}
	}

	&--upload {
		height: 240px;
		background: $color-gray-light;
		border-radius: 20px;
		margin: 62px 0 20px;
	}
}

.video {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	&--center {
		min-height: 480px;
		max-height: 80vh;

		@include media-query('breakpoint-tablet') {
			min-height: unset;
		}
	}

	&--banner {
		height: auto;
	}
}

.video__spec {
	display: flex;

	&-value {

		@include media-query('breakpoint-tablet') {
			margin-top: 10px;
		}
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		@include media-query('breakpoint-tablet') {
			flex-direction: column;
			align-items: center;
			margin: 32px 0;
		}
	}
}

.video-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 -100px 160px -80px $color-gray-dark;
}

.sticky-container {
	position: sticky;
	top: -314px;
	background: $color-white;
	z-index: 1;

	@include media-query('breakpoint-tablet-small') {
		position: relative;
		top: unset;
	}
}

.sticky {
	position: sticky;
	z-index: 1;
}

.header--center.sticky {
	top: 139px;
	
	@include media-query('breakpoint-tablet-small') {
		position: relative;
		top: 0;
	}
}

.header--center.sticky--top {
	top: 60px;

	@include media-query('breakpoint-tablet-small') {
		position: relative;
		top: 0;
	}
}

.flex-wrapper {
	display: flex;

	&--vertical {
		flex-direction: column;
		justify-content: center;
	}

	&--full {
		width: 100%;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--top {
		align-items: flex-start;
	}

	&--center {
		align-items: center;
	}

	&--bottom {
		align-items: flex-end;
	}

	&--responsive {
		margin: 80px 0;

		@include media-query('breakpoint-tablet') {
			flex-direction: column;
			align-items: center;
		}
	}
}

.flex-child {
	flex-grow: 1;
	width: auto;
	max-width: 50%;
	
	@include media-query('breakpoint-tablet') {
		width: 100%;
		max-width: unset;
	}
}

.image-section {
	padding-right: 40px;

	@include media-query('breakpoint-tablet') {
		width: unset;
		margin: 0 -10px 20px;
		padding: 0;
	}
}

.bottom-section {
	margin: 40px 0;

	@include media-query('breakpoint-tablet') {
		margin: 40px 0;
	}
}

.drag-section, .drop-section {
	max-width: 50%;

	@include media-query('breakpoint-tablet') {
		width: auto;
		max-width: 50%;

		.content__info {
			max-height: 80px;
			overflow: hidden;
			text-overflow: clip;
			word-break: break-all;
			padding: 8px;
		}
	}

	.content__image-container {
		z-index: 0;
	}
}

.drag-section {

	@include media-query('breakpoint-tablet') {
		padding-right: 10px;
	}
	
	@include media-query('breakpoint-tablet') {
		padding-right: 0;
	}
}

.drop-section {
	position: relative;
	height: auto;
	border-left: 1px solid $color-gray-dark;
	margin-top: 0;

	@include media-query('breakpoint-tablet') {
		padding-left: 10px;
	}

	@include media-query('breakpoint-tablet') {
		padding-left: 0;
	}
}

.header {
	font-size: $size-large;
	font-weight: $bold;
	line-height: 2;
	background: $color-white;
	text-transform: uppercase;
	padding: 20px 0;

	&--center {
		display: block;
		text-align: center;
	}
}

.paragraph {
	font-size: $size-regular;
	font-weight: $normal;

	&--gray {
		color: $color-gray;
	}

	&--margin {
		margin: 20px 0;
	}
}

.seperator {
	height: 1px;
	background: $color-gray-dark;
	color: $color-gray-dark;
	border: none;

	&--margin-top {
		margin-top: 10px;
	}
}

.content__price {

	&--alt {
		font-size: $size-large;
		font-weight: $bold;
		color: $color-red;
	}

	&--old {
		color: $color-gray;
		text-decoration: line-through;
		margin-right: 10px;
	}

	&-discount {
		background: $color-gray-light;
		margin-left: 4px;
		border-radius: 8px;
		padding: 0 10px;
	}
}