// Vendor
// @import 'vendor/_normalize.scss';

// Modules
@import 'modules/_vars.scss';
@import 'modules/_typo.scss';
@import 'modules/_defaults.scss';

// Partials
@import 'partials/_modal.scss';
@import 'partials/_nav.scss';
@import 'partials/_container.scss';
@import 'partials/_preview-banner.scss';
@import 'partials/_account.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_form.scss';
@import 'partials/_table.scss';
@import 'partials/_grid.scss';
@import 'partials/_preview-edit.scss';
@import 'partials/_link.scss';
@import 'partials/_button.scss';
@import 'partials/_tag.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_range-slider.scss';
@import 'partials/_footer.scss';

.page__header {
	font-family: $family-primary;
	font-size: $size-xx-large;
	font-weight: $normal;
	line-height: 1;
	text-align: center;
	color: $color-red;
	margin: 60px 0 40px;

	&--flat {
		margin: 20px 0;
	}
}

.fa, .fas {
	font-size: $size-small;
}

.page__description {
	text-align: center;
	margin-bottom: 20px;

	&--left {
		text-align: left;
	}

	&--grey {
		color: $color-gray;
	}
}

.title-header {
	font-size: $size-x-large;
	color: $color-red;
	margin: 10px 0;
}

.content-info {
	max-width: 640px;
	margin: 0 auto;
	padding: 10px 0 0;
}

.content__nav {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	height: 48px;
	list-style-type: none;
	margin: 0 0 20px;

	&-item {
		height: 47px;
	}

	&-link {
		display: flex;
		align-items: center;
		height: 100%;
		font-weight: $bold;
		text-transform: uppercase;
		padding: 0 20px;
		transition: all ease-in-out 0.1s;

		&:hover {
			background: $color-gray-light;
			padding-bottom: 2px;
		}

		&--active {
			background: $color-gray-light;

			&:hover {
				background: $color-white;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 47px;
		left: -50vw;
		width: 200vw;
		height: 1px;
		background: $color-gray-dark;
		z-index: -1;
	}
}

.content__filter-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.filter__sort {
	margin-left: auto;
}

// Content List
.content__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;

	&::after {
		content: "";
		flex-grow: 3;
	}

	&--vertical {
		display: flex;
		flex-direction: column;

		.content__list-item {
			display: flex;
			padding: 10px;

			&:hover {
				background: $color-gray-light;
			}

			@include media-query('breakpoint-tablet-small') {
				display: block;
				padding: 10px;
			}
		}

		.content__title {
			width: 100%;
			word-break: break-word;
			margin-left: 20px;

			@include media-query('breakpoint-tablet-small') {
				margin-left: 0;
			}
		}

		.content__image-container {
			max-width: 200px;
		}
	}
}

// Content List Item
.content__list-item {
	flex-grow: 1;
	flex-shrink: 0;
	width: 30%;
	margin: 0 10px 20px;
	cursor: pointer;
	
	&:hover {
		background: $color-gray-light;

		.content__image-button {
			opacity: 1;
		}
	}
	
	i {
		font-size: $size-x-small;
	}
}

.content__library--items {
	margin-top: 0;
}

.content__library--images {

	@include media-query('breakpoint-tablet-small') {

		// .table__item:nth-of-type(2) {
		// 	padding: 0;
		// }
	}
}

// Content Image
.content__image {
	width: 100%;
	height: 100%;
	cursor: pointer;

	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		max-width: 640px;
		height: auto;
		background: $color-gray-light;
		border-radius: 20px;
		margin: 0 auto;

		&--small {
			max-width: 300px;
		}

		.file-input-wrapper {
			margin: 120px auto;
		}
	}

	&-button {
		opacity: 0;
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.content__info {
	padding: 8px $size-regular;
}

.content__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $size-small;
	font-weight: $thin;
	margin: 16px 0 4px;

	i {
		margin-right: 4px;
	}
}

.content__title {
	font-size: $size-regular;
	line-height: 1.2;
	font-weight: $normal;
	color: $color-red;
	word-wrap: break-all;
	text-overflow: ellipsis;

	&--margin {
		margin: 20px 0;
	}
}

.content__link {
	font-size: $size-small;
	color: $color-red;
	text-transform: uppercase;

	@include media-query('breakpoint-tablet-small') {
		&--text {
			display: none;
		}
	}
}





.your-videos .content__list-item {
	border-bottom: 1px solid $color-gray;

	&:nth-of-type(1) {
		border-top: 1px solid $color-gray;
	}
}

.selected-videos .content__list-item {
	border-bottom: 1px solid $color-gray;

	&:nth-of-type(1) {
		border-top: 1px solid $color-gray;
	}
}

.content-selection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	@include media-query('breakpoint-tablet-small') {
		grid-gap: 10px;
		margin: 0 -10px;
		
		.button {
			min-width: 100px;
		}
	}

	&--full {
		display: block;
	}
}

.section__title {
	width: 100%;
	font-weight: $bold;
	text-transform: uppercase;
	border-bottom: 1px solid $color-gray-dark;
	padding: 10px 0;
	margin-bottom: 10px;

	&--center {
		text-align: center;
		border: none;
	}
}

.selected-videos {
	margin-bottom: 40px;

	@include media-query('breakpoint-tablet-small') {
		.button {
			padding: 10px 20px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 20px;
	}
}

.selected-video {
	width: 200px;
}

//	STORE CONTENT

.store-content {

	.button {
		margin: 20px auto;
	}

	&__image {
		max-width: 400px;
		// margin: 0 auto;

		&:hover .content__image-button {
			opacity: 1;
		}

		&-list {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			list-style-type: none;
		}
	}
}

// EDIT CONTENT 

.video-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	// max-height: 742px;
	background: $color-gray-dark;
	overflow: hidden;
	object-fit: cover;

	&:hover .preview-banner__button {
		opacity: 1;
	}

	&--banner {
		height: 480px;
		box-shadow: inset 0 -60px 60px -40px $color-gray-dark;
	}
}

.video {
	display: block;
	width: 100%;
	// max-width: 1320px;
	height: 100%;
	margin: 0 auto;

	&--center {
		min-height: 480px;
		max-height: 80vh;
	}

	&--banner {
		height: auto;
	}
}

.video__spec {
	display: flex;

	&-value {
		margin-left: 5px;
	}

	&-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
	}
}

.video-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 -100px 160px -80px $color-gray-dark;
}

.flex-wrapper {
	display: flex;
}