
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 120px;
	font-size: $s;
	font-weight: $bold;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	background: $color-red;
	border: 1px solid $color-red;
	border-radius: 20px;
	outline: none;
	padding: 10px 20px;
	margin: 20px 10px;
	cursor: pointer;
	transition: all ease-in-out 0.05s;

	&:hover {
		background: $color-red-light;
		border-color: $color-red-light;
		transform: scale(1.015);
	}

	&:active {
		font-weight: $normal;
	}

	&--ghost {
		color: $color-gray-dark;
		background: $color-white;
		border-color: $color-gray-dark;

		&:hover {
			color: $color-gray-dark;
			background: $color-gray-light;
			border-color: $color-gray-light;
		}
	
		&:active {
			font-weight: $normal;
		}
	}

	&--light {
		color: $color-red;
		background: $color-gray-light;
		border-color: $color-gray-light;

		&:hover {
			color: $color-gray-dark;
			background: $color-gray-light;
			border-color: $color-gray-light;
		}

		&:active {
			font-weight: $normal;
		}
	}

	&--full {
		width: 100%;
		margin: 40px 0 20px;
	}

	&--half {
		width: 100%;
		margin: 0;
	}

	&--right {
		margin: 40px 0 20px auto; 
	}

	&--center {
		margin: 40px auto;
	}

	&--narrow {
		max-width: 200px;
	}

	&--round {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		color: $color-red;
		background: $color-gray-light;
		border: none;
		border-radius: 100%;
		cursor: pointer;
		transition: all ease-in-out 0.1s;

		i {
			// font-size: $xs;
			color: $color-red;
			margin: 0;
		}
	
		&:hover {
			background: $color-white;
			border: none;
			transform: scale(1.1);
		}
	}

	&--close {
		position: absolute;
		top: -15px;
		right: -15px;
		min-width: unset;
		color: $color-white;
		background: $color-gray-dark;
		border: 1px solid $color-gray-dark;
		margin: 0;
		padding: 0;

		i {
			font-size: $l;
			color: $color-white;
		}

		&:hover {
			background: $color-gray-dark;
		}
	}

	&-collapse {
		display: none;

		&--show {
			display: block;
		}
	}

	&-apply {
		display: none;
		
		&--show {
			display: block;
		}
	}

	&-preview {
		display: none;
		margin-top: 20px;
		margin-bottom: -20px;

		&--show {
			display: block;
		}
	}

	&-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		margin: 20px 0;
	}
}

.double-button-wrapper {
	display: flex;
	justify-content: center;
}

.radio__container input {
	position: absolute;
	visibility: hidden;
}

.radio__container input:checked ~ .radio__button {
	color: $color-white;
	background: $color-red;
	border-color: $color-red;

	&:hover {
		color: $color-white;
		background: $color-red-light;
	}
}

.file-input {
	display: none;

	&-wrapper {
		margin: 20px 0 10px;
		cursor: pointer;

		&--full {
			display: block;
			max-width: 200px;
			margin: 80px auto 20px;
		}

		.button {
			margin: 0;
		}
	}
}