.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 120px;
	font-size: $size-small;
	font-weight: $bold;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	background: $color-red;
	border: 1px solid $color-red;
	border-radius: 20px;
	outline: none;
	padding: 10px 20px;
	margin: 20px 10px;
	cursor: pointer;
	transition: all ease-in-out 0.15s;

	&:hover {
		background: $color-red-light;
		border-color: $color-red-light;
		box-shadow: 0 2px 8px -4px $color-gray-dark;
		transform: scale(1.05);
	}

	&:active {
		box-shadow: 0 2px 6px -4px $color-gray-dark;
		transform: scale(1.02);
		transition: all 0.05s ease-in-out;
	}
	
	&--light {
		color: $color-gray-dark;
		background: $color-gray-light;
		border-color: $color-gray-light;

		&:hover {
			background: $color-gray-light;
			border-color: $color-gray-light;
		}
	}

	&--ghost {
		color: $color-red;
		background: $color-white;
		border-color: $color-red;

		&:hover {
			background: $color-white;
			border-color: $color-red;
			box-shadow: 0 2px 8px -4px $color-gray;
		}
	}

	&--full {
		width: 100%;
		margin: 40px 0 20px;
	}

	&--half {
		width: 100%;
		margin: 0;
	}

	&--right {
		margin: 40px 0 20px auto; 
	}

	&--center {
		margin: 40px auto;
	}

	&--narrow {
		max-width: 200px;
	}

	&--round {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		color: $color-red;
		background: $color-gray-light;
		border: none;
		border-radius: 100px;
		cursor: pointer;
		transition: all ease-in-out 0.1s;

		i {
			color: $color-red;
			margin: 0;
		}
	
		&:hover {
			background: $color-white;
			border: none;
			box-shadow: 0 2px 8px -4px $color-gray-dark;
			transform: scale(1.1);
		}

		&-inverse {
			background: $color-red;
			color: $color-white;

			i {
				color: $color-white;
			}

			&:hover {
				background: $color-red-light;
			}
		}
	}

	&--close {
		position: absolute;
		top: -15px;
		right: -15px;
		min-width: unset;
		color: $color-white;
		background: $color-gray-dark;
		border: 1px solid $color-gray-dark;
		margin: 0;
		padding: 0;

		i {
			color: $color-white;
		}

		&:hover {
			background: $color-gray-dark;
		}
	}	
}

.button-fixed {
	position: fixed;
	width: 50px;
	height: 50px;
	z-index: 80;
	outline: none;
	transition: all ease-in-out 0.1s;

	&:hover {
		transform: scale(1.1);
		box-shadow: 0 2px 8px -4px $color-gray-dark;
	}
	
	&--top-right {
		top: 20px;
		right: 20px;
	}
	
	&--bottom-right {
		bottom: 40px;
		right: 20px;
	}
}

.button-toggle {
	display: block;
	background: $color-red;

	@include media-query('breakpoint-tablet-small') {
		display: none;
	}
}

.button--round.button-toggle {
	display: none;

	@include media-query('breakpoint-tablet-small') {
		display: flex;
	}
}

.button-collapse {
	display: none;

	&--show {
		display: block;
	}
}

.button-apply {
	display: none;
	
	&--show {
		display: block;
	}
}

.button-preview {
	display: none;
	margin-top: 20px;
	margin-bottom: -20px;

	&--show {
		display: block;
	}
}

.button-wrapper {
	display: flex;
	justify-content: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

.double-button-wrapper {
	display: flex;
	justify-content: center;
}

.radio__container input {
	position: absolute;
	visibility: hidden;
}

.radio__container input:checked ~ .radio__button {
	color: $color-white;
	background: $color-red;
	border-color: $color-red;

	&:hover {
		color: $color-white;
		background: $color-red-light;
	}
}

.file-input {
	display: none;

	&-wrapper {
		margin: 20px 0 10px;
		cursor: pointer;

		&--full {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		.button {
			margin: 0;
		}
	}
}

.content__image-button {
	opacity: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	box-shadow: 0 2px 8px -4px $color-gray-dark;

	&:hover {
		box-shadow: 0 3px 8px -3px $color-gray-dark;
		transform: unset;
	}

	@include media-query('breakpoint-tablet-small') {
		opacity: 1;
		left: 10px;
		width: 50px;
		height: 50px;
	}

	&--left {
		left: 10px;
	}
}