.container {
	width: 100%;
	max-width: 1320px;
	height: 100%;
	background: $white;
	margin: 0 auto;
	padding: 120px 80px 180px;

	@include media-query('tablet') {
		padding-left: 40px;
		padding-right: 40px;
	}

	@include media-query('tablet-small') {
		padding: 66px 20px 60px;
	}

	&--center {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100vw;
	}

	&--640 {
		max-width: 680px;

		.form {
			width: unset;
			max-width: unset;

			&__field {
				max-width: unset;
			}
		}
	}

	&--no-top {
		max-width: 1320px;
		padding-top: 0;

		@include media-query('tablet-small') {
			padding-top: 40px;
		}
	}
}