.link-wrapper {
	display: flex;
}

.link {

	&:hover {
		color: $dark-red;
		text-decoration: underline;
	}

	&--underline {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&--center {
		margin: 0 auto;
	}

	&--right {
		margin-left: auto;
	}
}