.link-wrapper {
	display: flex;
}

.link {
	transition: all 0.1s ease-in-out;

	&:hover {
		color: $color-red-dark;
		text-decoration: underline;
		transform: scale(1.05);
	}

	&--underline {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&--center {
		margin: 0 auto;
	}

	&--right {
		margin-left: auto;
	}

	&--caps {
		font-weight: $bold;
		text-transform: uppercase;
	}
}