.hamburger-container.button-fixed {
	z-index: 100;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: $color-red;
	border-radius: 50px;
	z-index: 90;
	cursor: pointer;
	transition: all ease-in-out 0.05s;

	@include media-query('breakpoint-tablet-small') {
		display: flex;
	}

	&:hover {
		background: $color-red-light;

		.hamburger__bar {
			background: $color-white;
		}
	}

	&--cross {
		background: $color-red;

		&:hover {
			background: $color-red;
		}

		.hamburger__bar {
			width: 24px;
			background: $color-white;
			transition: width 0.1s ease-in-out 0.1s,
						margin ease-in 0.1s,
						transform 0.1s ease-in-out 0.1s;
		}

		:nth-child(1) {
			margin-bottom: -5px;
			transform: rotate(45deg);
		}

		:nth-child(2) {
			width: 0;
		}

		:nth-child(3) {
			margin-top: -5px;
			transform: rotate(-45deg);
		}
	}

	&__bar {
		width: 24px;
		height: 2px;
		background: $color-white;
		border-radius: 20px;
		margin: 3px;
		transition: width 0.1s ease-in-out 0.1s,
					transform ease-out 0.1s,
					margin 0.1s ease-in-out 0.1s;
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	position: sticky;
	top: 0;
	width: 100vw;
	background: $color-red;
	padding: 0 32px;
	z-index: 90;

	@include media-query('breakpoint-tablet-small') {
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		position: fixed;
		right: -200px;
		width: 200px;
		min-height: 100%;
		padding: 100px 0 0;
		overflow-y: scroll;
		transition: right ease-in-out 0.15s;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&--show {
		right: 0;
	}

	&__items {
		display: flex;
		justify-content: flex-end;
		align-content: center;
		position: relative;
		list-style-type: none;
		
		@include media-query('breakpoint-tablet-small') {
			flex-direction: column;
			justify-content: flex-start;
			align-content: flex-start;
			overflow: hidden;
		}
	}

	&__item {
		position: relative;
		cursor: pointer;
		z-index: 90;
		transition: all ease-in-out 0.1s;

		&:hover {
			background: $color-red-dark;

			.menu__item-link {
				transform: translateY(-2px);

				@include media-query('breakpoint-tablet-small') {
					transform: translateX(2px);
				}
			}			
		}

		&-link {
			display: block;
			background: $color-red;
			font-size: $size-regular;
			font-weight: $bold;
			color: $color-white;
			text-transform: uppercase;
			padding: 18px 32px;
			transform: translateY(0);
			transition: background-color ease-in-out 0.05s, transform ease-in-out 0.1s;

			&:hover {
				background: $color-red-dark;
			}

			@include media-query('breakpoint-tablet-small') {
				padding: 16px 32px;
			}
		}
	}
}

.submenu__trigger:hover ~ .submenu {
	display: block;
}

.submenu {
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	// height: 0;
	background: $color-red-dark;
	overflow: hidden;
	z-index: -80;
	transform: translateY(-100%);
	transition: transform 0.05s ease-in-out 0.05s;

	@include media-query('breakpoint-tablet-small') {
		// position: unset;
		// height: 0;
		width: 200px;
		background: $color-red;
		z-index: unset;
		// transform: translateY(0);
		transition: unset;
	}

	&--show {
		// height: auto;
		transform: translateY(0);
		transition: transform ease-in-out 0.1s;

		.submenu__item-link {
			opacity: 1;
			transition: transform ease-in-out 0.1s, opacity 0.1s ease-in-out 0.1s;
		}

		@include media-query('breakpoint-tablet-small') {
			position: unset;
			background: $color-red-dark;
			transition: transform ease-in-out 0.05s;

			.submenu__item-link {
				transition: opacity 0.1s ease-in-out 0.05s;
			}
		}
	}

	&__item {
		cursor: pointer;
		transition: all ease-in-out 0.15s;

		&:hover {
			background: $color-red;

			.submenu__item-link {
				transform: translateX(2px);
			}
		}

		&-link {
			display: block;
			font-size: $size-small;
			font-weight: $bold;
			color: $color-white;
			text-transform: uppercase;
			opacity: 0;
			padding: 18px 42px;
			transform: translateX(0);
			transition: transform ease-in-out 0.1s, opacity ease-in-out 0.05s;
		}
	}
}