.navbar {
	position: sticky;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	background: $red;
	padding: 0 20px;
}

.menu {
	display: flex;
	list-style-type: none;
	&__item {
		height: 70px;

		&:hover {
			background: $white;

			.menu__item-link {
				color: $red;
			}
		}

		&:active {
			font-weight: $font-weight-bold;
		}

		&-link {
			display: flex;
			align-items: center;
			font-size: $font-size-small;
			font-weight: $font-weight-bold;
			color: $white;
			text-transform: uppercase;
			padding: 24px 20px;
		}
	}
}