.preview-edit {
	height: auto;
	max-height: 0;
	padding: -540px 0 0 0;
	border-bottom: 1px solid $color-gray-dark;
	margin-bottom: 10px;
	overflow: hidden;
	transition: all ease 1s;

	@media all and (max-width: 600px) {
		padding: -740px 0 0 0;
	}

	&--show {
		max-height: 540px;
		padding: 0;
		transition: all ease 1s;

		@media all and (max-width: 600px) {
			max-height: 740px;
		}
	}

	&__clips {
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

		@media all and (max-width: 600px) {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		}

		.content__list-item {
			background: none;
		}
	}

	.button {
		margin: 40px auto;
	}
}
