.sidebar {
	width: 200px;

	@include media-query('breakpoint-tablet') {
		width: 100%;
	}

	&--wide {
		width: 30%;

		@include media-query('breakpoint-tablet') {
			width: 100%;
		}
	}

	.avatar-container {
		margin-top: -100px;

		@include media-query('breakpoint-tablet') {
			margin: 80px auto 0;
		}
	}

	&__header {
		word-break: break-word;
		margin: 40px 0 0;
	}

	&__item {
		font-weight: $thin;
		text-align: left;
		margin: 20px 0;

		&-list {
			list-style-type: none;
		}

		&--header {
			font-weight: $bold;
			color: $color-red;
			text-transform: uppercase;
		}

		&--grey {
			color: $color-gray;
		}
	
		&-link {
			text-transform: uppercase;
			color: $color-red;

			&:hover {
				font-weight: $bold;
			}
		}

		i {
			margin-right: 8px;
		}
	}
}