.tag-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-height: 24px;
	background: $color-pink;
	color: $color-white;
	border-radius: 20px;
	padding: 2px $size-regular;
	margin: 0 10px 16px 0;
	cursor: pointer;

	&--add {
		width: unset;
		background: $color-white;
		color: $color-gray-dark;
		border: 1px solid $color-gray-dark;
		margin: 0 0 16px;
		cursor: auto;

		&:hover {
			background: $color-gray-light;
			border-color: $color-gray-light;
		}
	}

	i {
		color: $color-white;
		margin-left: 6px;
	}
}