.tag-wrapper {
	display: flex;
}

.tag {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: $color-pink;
	color: $color-white;
	border-radius: 20px;
	padding: 2px $m;
	margin: 6px 10px 6px 0;
	cursor: pointer;

	&--add {
		width: unset;
		height: 30px;
		background: $color-white;
		border: 1px solid $color-gray-dark;
		margin: 6px 0;

		&:hover {
			background: $color-gray-light;
			border-color: $color-gray-light;
		}
	}

	i {
		color: $color-white;
		margin-left: 6px;
	}
}