* {
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	// background: $color-gray-light;
	font-family: $family-primary;
	font-size: $size-small;
	font-weight: $normal;
	line-height: 1.5;
	color: $color-gray-dark;
	// overflow-x: hidden;
}

a {
	color: $color-red;
}