// Import Font
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

// Font Family
$family-primary: Nunito, sans-serif;

// Font Size
$size-regular: 16px;
$size-small: 14px;
$size-x-small: 13px;
$size-xx-small: 12px;
$size-large: 18px;
$size-x-large: 24px;
$size-xx-large: 36px;

// Font Weight
$thin: 300;
$normal: 400;
$bold: 600;
