@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

$font-family-regular: Nunito, sans-serif;
$font-size-x-small: 13px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 36px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;