// Import Font
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

// Font Family
$primary-font: Nunito, sans-serif;

// Font Size
$xxs: 12px;
$xs: 13px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 24px;
$xxl: 36px;

// Font Weight
$thin: 300;
$normal: 400;
$bold: 600;
