// Colors
$color-white: #fff;
$color-gray: #8d8d8d;
$color-gray-light: #f4f4f4;
$color-gray-dark: #121010;
$color-red: #b21717;
$color-red-light: #bc3434;
$color-red-dark: #931717;
$color-pink: #ca5e5e;

// Media-queries
$breakpoints: (
	"breakpoint-tablet-small": 640px,
	"breakpoint-tablet": 768px,
);
@mixin media-query($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width + 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}